 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/_mg_2157-21.jpg');
  background-position: 50% 50%, 83.25% 50%;
  background-size: cover, cover;
  min-height: 301px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 1px 324px 0 calc(((100% - 1140px) / 2)  + 406px);
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 calc(((100% - 1140px) / 2)  + 48px) 0 calc(((100% - 1140px) / 2)  + 307px);
}

.u-section-1 .u-image-1 {
  width: 222px;
  height: 300px;
  margin: -246px auto -62px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 267px;
    margin-left: calc(((100% - 940px) / 2)  + 335px);
  }

  .u-section-1 .u-text-2 {
    width: 785px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 155px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 205px;
    margin-left: calc(((100% - 720px) / 2)  + 257px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 143px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 154px;
    margin-left: calc(((100% - 540px) / 2)  + 193px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 90px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 97px;
    margin-left: calc(((100% - 340px) / 2)  + 122px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/fondoazul.jpg'), linear-gradient(to bottom, rgba(6, 94, 176, 1), rgba(6, 94, 176, 1));
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 938px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1168px;
  margin: 67px auto 9px -28px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 862px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 807px;
  width: 817px;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 862px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-custom-html-2 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 658px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 694px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 504px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1621px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 531px;
}

.u-section-3 .u-text-1 {
  margin: 1px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 45px 0 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 337px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 27px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 337px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  margin: 27px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 337px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  margin: 27px auto 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 337px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-12 {
  margin: 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
}