 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/_mg_2157-21.jpg');
  background-position: 50% 50%, 83.25% 50%;
  background-size: cover, cover;
  min-height: 301px;
}

.u-section-1 .u-image-1 {
  width: 222px;
  height: 300px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -271px 165px 0 calc(((100% - 1140px) / 2)  + 342px);
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 29px calc(((100% - 1140px) / 2)  + 47px) 60px calc(((100% - 1140px) / 2)  + 308px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 335px);
  }

  .u-section-1 .u-text-2 {
    width: 785px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 2px;
    margin-left: calc(((100% - 940px) / 2)  + 155px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 190px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -12px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -258px;
    margin-left: calc(((100% - 720px) / 2)  + 257px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: -8px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 143px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -52px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -219px;
    margin-left: calc(((100% - 540px) / 2)  + 193px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 90px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -241px;
    margin-right: 104px;
    margin-left: calc(((100% - 340px) / 2)  + 122px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/fondoazul.jpg");
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 382px;
}

.u-section-2 .u-gallery-1 {
  height: 302px;
  grid-gap: 17px;
  margin: 14px 0 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-list-1 {
  width: 1129px;
  margin: -12px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 3.33333px);
  grid-template-columns: repeat(3, calc(33.3333% - 3.33333px));
  min-height: 78px;
  grid-gap: 5px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 14px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 14px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-gallery-1 {
    height: 247px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 43px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 3.33333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.33333px));
    min-height: 65px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-2 .u-gallery-1 {
    height: 592px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 2.4999975px);
    grid-template-columns: repeat(2, calc(50% - 2.4999975px));
    min-height: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-2 .u-gallery-1 {
    height: 868px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: url('images/fondoazul.jpg'), linear-gradient(to bottom, rgba(6, 94, 176, 1), rgba(6, 94, 176, 1));
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 834px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1168px;
  margin: 0 0 19px -28px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 815px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 807px;
  margin: 7px -10px 0 11px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 815px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 352px;
  width: 359px;
  grid-gap: 17px;
  margin: 11px -16px 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  object-position: 62.6% 39.37%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 677px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
    width: 658px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 677px;
  }

  .u-section-3 .u-gallery-1 {
    width: 282px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 504px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-gallery-1 {
    width: 216px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1619px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 556px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
  }
}